# copy and edit this files as "gradle.properties"
#
# internalMavenUrl: URL for an "internal" Maven remote repository
# with both read AND write access.
# MUST be a "file:" URL.
#
internalMavenUrl=file:///path/to/maven2
